certifi==2020.6.20
chardet==4.0.0
colorama==0.4.4
flask==3.0.3
importlib-metadata==4.6.4
jeepney==0.7.1
jsbeautifier==1.14.0
logzero==1.7.0
more-itertools==8.10.0
pandas==2.2.2
pip-chill==1.0.3
pynacl==1.5.0
pyotp==2.9.0
rich==13.7.1
scikit-learn==1.4.2
tensorflow==2.15.0
urllib3==1.26.5
websocket-client==1.7.0
